h2 {
    color: #2c3e50;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .selected {
    background-color: #3498db;
    color: white;
  }
  html, body {
    font-family: 'Poppins', sans-serif;
  }
  